header {
  background-color: rgb(39, 197, 18);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
}

p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}
